## This is Applied Data Science Capstone project for Week 3.

### Part II

In [1]:
import pandas as pd
import geocoder

#### Import the dataframe from Part I

In [2]:
df_ca_postal = pd.read_csv(r'toronto_postal.csv')
df_ca_postal.head(10)

  Postcode      Borough                                     Neighborhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

#### Get geo location (latitude, longitude) for each of the postal code in our dataframe

The code first creates two empty list (one for latitude, one for logitude)
It will then run a for loop for each of the postal code in our dataframe and retrieve the latitude and longitude of the corresponding postal code. Once retrieved, it will append the respective list. The code then create a new column in the dataframe, Latitude, Longitude, where it takes the value of the newly appended list.

In [ ]:
list_latitude = []
list_longitude = []

In [ ]:
for postal_code in df_ca_postal['Postcode']:
    
    lat_lng_coords = None
    
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
        
    list_latitude.append(lat_lng_coords[0])
    list_longitude.append(lat_lng_coords[1])

In [ ]:
df_ca_postal["Latitude"] = list_latitude
df_ca_postal["Longitude"] = list_longitude

#### Unfortunately, I was not able to get any return. The free google service was not available. Below, the code will download the geospatial data and match with our original dataframe

In [3]:
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

Now rename the column name to 'Postcode' to match the original dataframe so that we can merge the two dataframe on 'Postcode'

In [4]:
df_geo.rename(columns={'Postal Code':'Postcode'}, inplace = True)
df_geo.head(10)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476
5      M1J  43.744734 -79.239476
6      M1K  43.727929 -79.262029
7      M1L  43.711112 -79.284577
8      M1M  43.716316 -79.239476
9      M1N  43.692657 -79.264848

In [5]:
df_ca_postal_geo = pd.merge(df_ca_postal, df_geo, on=['Postcode'], how = 'inner')
df_ca_postal_geo.head(10)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

#### Export the dataframe to csv in order to import it for Part III

In [ ]:
df_ca_postal_geo.to_csv(r'toronto_postal_geo.csv', index = False)